

body{
    background: #dadada;
    margin: 0;
    overflow-x: hidden;
    min-width: 320px;
    height: 100%;
    box-sizing: border-box;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.bl-background {
    background: #dadada;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
    margin: -1rem;
    box-sizing: border-box;
    width: auto;
}

/* Ліва колонка */



.bl-list {
    padding: 1rem;
    position:relative;
    display: inline-block;
    float:left; 
    width: 65%;
    vertical-align: top;
}

.bl-list-container{
    border-radius: 4px;
    border: 1px solid #dadada;
    box-shadow: 2px 2px 10px gray;
    background: white;
    flex-direction: column;
}

.bl-input{
    display: block;
    padding: 12px;
    position: relative;
    box-sizing: inherit;
    
    
}

.addform{
    display: flex;
    position: relative;
    
}

.addinpt{
    display: inline-block;
    border: 1px solid #dadada;
    padding: 10px;
    font-size: 12px;
    border-radius: 3px;
    box-sizing: inherit;
        max-width: 100%;
    flex: 1 0 auto;
    box-sizing: inherit;
    width: 0;
}

.addbtn{
    display: flex;
    align-items: center;
    box-sizing:inherit;
    padding: 10px 25px 10px;
    background-color:dodgerblue;
    color: white;
    font-size: 14px;
    border: 3px outset dodgerblue;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: 700;
}

.bl-product, .bl-product-bought{
    border-top: 1px solid #dadada;
    width:auto;
    display: block;
    position: relative;
    padding: 1em;
}


.bl-product-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin: -1rem;
}

.productname{
    position: relative;
    display: inline-block;
    padding: 1rem;
    vertical-align: top;
    width: 25%;
    box-sizing: border-box;
}

.bl-count{
    position: relative;
    display: inline-block;
    padding: .5rem;
    padding-bottom: 0;
    vertical-align: top;
    text-align: center;
    width: 37%;
    box-sizing: border-box;
}


.bl-buttons{
    position: relative;
    display: inline-block;
    padding: .5rem;
    padding-bottom: 0;
    vertical-align: top;
    text-align: right;
    width: 37%;
    box-sizing: border-box;
}

/*Права колонка*/

.bl-bought {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    position:relative;
    display: inline-block;
    float:right;
    width: 29%;
    
    
}

.bl-bought-container{
    border-radius: 4px;
    border: 1px solid #dadada;
    box-shadow: 2px 2px 10px gray;
    background: white;
    flex-direction: column;
}

.bl-title{
    font-weight: 600;
    font-size: 18px;
    padding: 15px;
}

.b-left{
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    width:auto;
    padding: 20px;
}

.b-bought{
    border-top: 1px solid #dadada;
    width:auto;
    padding: 15px;
}

.b-left-prod{
    background-color:#dadada;
    margin-right:5px;
    margin-bottom: 5px;
    padding:5px;
    border-radius: 5px;
    font-size: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.count-label{
    background-color: darkorange;
    padding: 5px;
    color: white;
    border-radius: 15px;
    font-weight: 700;
    display: inline-block;
    width: 10px;
    text-align: center;
    margin-bottom: 3px;
}


/*Кнопки*/
button{
    cursor: pointer;
}

.bl-label {
    background:#E8E8E8;
    border-radius: 2px;
    font-size: 13px;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    vertical-align: baseline;
    display: inline-block;
    box-sizing: border-box;
}
.bl-plus {
    background: #04a613;
    border-radius: 20px;
    border-color: #04a613;
    height: 30px;
    width: 30px;
    color: white;
    padding-bottom: 5px;
    box-sizing: border-box;
    
}
.bl-minus{
     background: crimson;
    border-radius: 20px;
    border-color: crimson;
    height: 30px;
    width: 30px;
    color: white;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}

.bl-minus:disabled{
    background-color: indianred;
    border-color: indianred;
}

.boughtbtn, .notboughtbtn{
    display: inline-block;
    font-size: 12px;
    border: 3px outset;
    border-radius: 5px;
    height: 32px;
    width:90px;
    margin-right: 3px;
    box-sizing: border-box;
}

.delbtn{
    float: right;
    color: white;
    display: inline-block;
    border: 3px outset crimson;
    border-radius: 5px;
    background-color: crimson;
    height: 32px;
    width:32px;
    padding-bottom: 5px;
    box-sizing: border-box;
}








.tooltip {
      position: fixed;
      padding: 10px 20px;
    margin-top: 10px;
      font-family: Sans-serif;
      font-size: 12px;
      border-radius: 6px;
      text-align: center;
      color: white;
      background-color: blueviolet;
      opacity: 0;
      transition: all 1s ease;
    }

.tooltip.loaded{
    opacity: 1;
    margin-top: 0px;
    transition: all 1s ease;
}


.badge{
    display: block;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    position: fixed;
    bottom: -80px;
    left: 20px;
    width: 100px;
    background-color: blueviolet;
    color:white;
    font-family: Sans-serif;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 1s ease;
    content: "Buy List";
}

.created{
    font-weight: 400;
    font-size: 10px;
    text-align: left;
    margin-bottom: 1px;
}

.name{
    margin-top: 2px;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
}

.badge:hover{
    bottom: 0px;
    background-color: darkslateblue;
}

.buylist{
    margin: 0;
}


@media	print	{
    .badge{
        background: white;
        border:5px solid violet;
        bottom: 0;
    }
    
    .buylist{
        display: none;
    }
}